bedrock-agentcore
strands-agents
strands-agents[anthropic]
strands-agents-tools[a2a_client]
uvicorn
python-dotenv
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-instrumentation
langfuse
mangum